@{
    ViewBag.Title = "Index";
}

<h2>Category</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Identity</th>
        <th>Category</th>
        <th></th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Id</td>
            <td>@d.Name</td>
            <td>
                <a href="/Category/Edit/@d.Id" class="btn btn-primary" style="border-radius:13px;height:20px; width:80px; padding-bottom:31px;">Edit</a>
                <a href="/Category/Delete/@d.Id" class="btn btn-danger" style="border-radius:13px;height:20px; width:80px; padding-bottom:31px;">Delete</a>
            </td>
        </tr>

    }
</table>

<a href="/Admin/Index" class="btn btn-outline-secondary">Back</a>