
@{
    ViewBag.Title = "Index";
}

@if (TempData["Msg"] != null)
{
    <div class="alert alert-primary" role="alert">@TempData["Msg"]</div>
}

<h2>Admin Dashboard</h2>
<hr />
<a href="/Admin/Orders" class="btn btn-outline-primary">Orders</a>
<a href="/Category/Index" class="btn btn-outline-primary">Category</a>
<a href="/Admin/Customers" class="btn btn-outline-primary">Customers</a>


