@model EFLabTask.DTOs.CourseDTO

<h1>Course Title : @Model.Title</h1>
<h1>Course Credit Hour : @Model.CrdtHr</h1>
<h1>Course Type : @Model.Type</h1>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
