<h2>References</h2>
<hr />
<ol>
    @foreach (var item in ViewBag.reff)
    {
        <li>
            <b>Name : </b>@item.Name <br />
            <b>Designation : </b>@item.Desig
        </li>
    }  
</ol>


