<table width="100%" style="border-collapse: collapse">
    <tr>
        <td colspan="2"><h1 style="text-align:center">Welcome</h1></td>
    </tr>
    <tr>
        <td colspan="2"><h2 style="text-align:center">Course Description</h2></td>
    </tr>
    <tr>
        <td>Name</td>
        <td>: Advance Programming with .NET</td>
    </tr>
    <tr>
        <td>Faculty</td>
        <td>: Tanvir Ahmed</td>
    </tr>
    <tr>
        <td>Section</td>
        <td>: A</td>
    </tr>
    <tr>
        <td>Timing</td>
        <td>: Sunday,Monday,Wednesday</td>
    </tr>
</table>