<h1>
    Name: 
    @(
        string.IsNullOrEmpty(ViewData["Name"] as string) ? "Untitled" : ViewData["Name"]
     )
</h1>

<h1>
    Description: 
    @(
        string.IsNullOrEmpty(ViewData["Name"] as string) ? "Untitled" : ViewData["Name"]
     )
</h1>