<h2>Other Courses</h2>
<hr />
<table class="table table-bordered">
    <tr>
        <th>Name of the Courses</th>
    </tr>

    <tr>
        <td><a href="/course/details/IP" style="text-decoration: none;">IP</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/DS" style="text-decoration: none;">DS</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/OOP1" style="text-decoration: none;">OOP1</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/Algo" style="text-decoration: none;">Algo</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/OOAD" style="text-decoration: none;">OOAD</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/SE" style="text-decoration: none;">SE</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/OOP2" style="text-decoration: none;">OOP2</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/Python" style="text-decoration: none;">Python</a></td>
    </tr>

    <tr>
        <td><a href="/course/details/WebTech" style="text-decoration: none;">WebTech</a></td>
    </tr>
</table>
