@{
    ViewBag.Title = "Contact";
}

<div class="card" style="width: 18rem;">
    <img src="~/Resource/simg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">
            Name: Md. Shahriar Parvez Shamim
            Institute : AIUB , CSE Dept.
            Skill : ASP.NET, PHP, Javascript
        </p>
        <a href="www.github.com/spshamim" class="btn btn-primary">Github</a>
    </div>
</div>