@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, Everyone!</h1>
    <p class="lead">
        Created a Project with ASP.NET
    </p>
    <hr class="my-4">
    <p>
    Demonstrated Association, CRUD Operation, DTO Class, Routing, Authentication, Validation.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>